/*投诉渠道*/
.tsqdym{
  width: 100%;
  padding-right: 40px;
  .tsqd{
    color: #999;
    font-weight: 400;
    overflow: hidden;
  }
  .tsqd_image{
    width: 100%;
    text-align: center;
    img{
      width: 100%;
    }
  }
}