/*填写人员信息*/

.txryxx{
  /*去掉链接下划线*/
  a:link{
    text-decoration:none;
  }
  a:visited{
    text-decoration:none;
  }
  a:hover{
    text-decoration:none;
  }
  a:active{
    text-decoration:none;
  }
  .panel-group{
    margin-top: 20px;
  }
  .form-control.hight{
    height: 46px;
  }

  .txryxx_content{
    margin-top: 10px;
    margin-bottom: 50px; 
    position: relative;
 /* 自定义panelheading */
    .panel-heading{
      position: relative;
      background-color: #fff;
      box-shadow: 0 10px 20px 0 #b9b5b5;
      font-weight: 700;
      color:#9a9a9a;
      /* panelheading右边数字标签 */
      .badge{
        float: right;
        background-color: #53aee7;
        width: 48px;
        height: 40px;
        font-size:24px;
        padding: 0;
        text-align: center;
        border-radius: 16px;
        line-height: 40px;
      }
      /* 头部蓝色线条 */
      .title_line{
        top: 0px;
        width: 7px;
        height: 100%;
        position: absolute;
        left: 8%;
        border-right: 7px solid #53aee7;
      }
     }
    .panel-title{
      font-weight: 500;
      color: #9a9a9a;
    }

    /* panel内容部分 */
    .panel-body{
      position: relative;
      max-height: 400px;
      /* 蓝色线 */
      .body_line{
        top: 0px;
        width: 7px;
        height: 100%;
        position: absolute;
        left: 8%;
        border-right: 7px solid #53aee7;
      }
      /* 已添加人员列表 */
      .people_list{
        float: left;
        margin-left: 10%;
        width: 20%;
        position: relative;
      
        .list_title{
          font-weight: bolder;
          color: #9a9a9a;
          width: 220px;
          margin-bottom: 30px;
        }
        /*添加的加号*/
        .add_ry{
          height: 50px;
          background-color: #eee;
          border: 1px solid #ccc;
          line-height: 50px;
          margin-left: 20px;
          margin-top: 13px;
          width: 87%;
          .add_person{
            width: 115px;
            height: 50px;
            position: absolute;
            left: 30%;
           /* position: relative;
            left: 116px;
            padding-top: 1px;*/
            img{
              width: 100%;
              height: 100%;
            }
          }
        }

        .list_content{
          max-height: 180px;
          overflow-y:auto;
          padding: 20px 20px;
          /*添加的加号*/
          .add_person{
            width: 25px;
            height: 25px;
            position: relative;
            left: 85px;
            padding-top: 7px;
            img{
              width: 100%;
              height: 100%;
            }
          }
         
          /* 名字块 */
         .list_content_item{
          height: 50px;
          background-color: #eeeeee;
           border: 1px solid #ccc;
         /* text-align: center;*/
          line-height: 50px;
          margin-bottom: 15px;
          position: relative;
           padding-left: 10px;
          p{
            margin: 0 0;
            pointer-events:none;
            font-weight: 600;
            width: 59%;
            overflow: hidden;
            height: 100%;
          }
          span{
            margin-left: 29px;
            position: absolute;
            top: 2px;
            left: 135px;
          }
         }
         .active_item{
          border:2px solid #53aee7!important;
         }
         .active_item:before {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  content: url(../images/icon/icon_ok.png);
  position: absolute;
  right: -20px;
  top: -21px;
}

        }

      }
      /* 输入信息列表 */
      .input_list{
        width: 70%;
        max-height: 340px;
        overflow-y: auto;
       position: relative;
       text-align: right;
       color: #999;
        label.required:before{
          content: '*';
          color:  #a94442;
        }

        label.nostar:before{
           content: '*';
        }
        .form-control{
          color: #999;
        }
       .choose_type{
     
        margin-bottom: 12px;
       }
      }
    }
    }
  
  .btn_row{
    .zscg_btn{
      text-align: center;
      margin-left: 21%;
    }
  

    .del_btn{
      background-color:#e75353;
    }
    .function_btn{
      margin-right: 20px;
    }
  
    .next_btn {
      position: relative;
      margin-left: 20px;
    }
  }

  .common_btn{
    width: 200px!important;
  }
}