/*填写查询密码*/
.yyyjqr{
  /* 导航条颜色的变化 */

  /*输入内容上面提示的几个字*/
  .tip{
    position: relative;
    top: 43px;
  }
  /*输入内容部分*/
  .input_list{
    /*字体样式*/
    /*.font_style{
    }*/
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 65px;
    padding-left: 10%;



    .title{
      float: left;
      line-height: 65px;
      color: #999;
    }
    /*登录方式左边类型*/
    .dlfsleft{
      float: left;
      width:20%;
    
    }
    .dlfsright{
      float: left;
      width: 70%;
      min-height: 65px;
      max-height: 190px;
      margin-left: 5%;
    }

    .sqrxm{
      width:65%;
      height:65px;
      overflow: hidden;
    }

    .dlfsright.sqyt{
      word-break: break-all;
      overflow-y: auto;
    }
    /*登录方式*/
    .dlfs{
      /*margin-top: 20px;*/
      /*案件编号和手机号码样式*/
      .anbm{
        float: left;
        width: 28%;
        height: 65px;
	    line-height:65px;
        text-align:center;
        border: 1px solid #9e9e9e;
        margin-right:5%;
      }
      .anbm1{
         float: left;
         width: 35%;
         height: 65px;
	 line-height:65px;
	 text-align:center;
         border: 1px solid #9e9e9e;
         margin-left: 1%;
      }
      /*选中的样式*/
      .selected{
       
        border: 1px solid #53aee7;
        
      }
     
    }
    /*申请流水号*/
    .sqlsh{
      margin-top: 35px;
      .input_lsh{
        float: left;
        width: 75%;
        height: 65px;
        border: 1px solid #9e9e9e;
        margin-left: 10px;
      }
      /*手机号码*/
      .input_sjh{
        float: left;
        width: 359px;
        height: 65px;
        border: 1px solid #9e9e9e;
        margin-left: 10px;
      }

    }

    /*查询密码*/
    .cxmm{
      margin-top: 35px;
      .input_mm{
        float: left;
        width: 75%;
        height: 65px;
        border: 1px solid #9e9e9e;
        margin-left: 10px;
      }

    }

  }
  /*底部按钮*/
  /*底部按钮样式*/

    .accept_btn{
      color: #fff;
      margin-right: 20px;
      position: relative;
      right: 802px;
    }
  }
